<div class="col-md-12" ng-show="bigScreen" ng-cloak>
	<div class="row" id="homeMain">
		<div 
			class="contentGreyBg"
			style="top: 8px;"
		>
			<div 
				class="row" 
				ng-repeat="track in trdData"
				ng-show="trackShow === track.id"
			>
				<div 
					class="col-md-6"
				>
					<div class="row">
						<div 
							class="col-md-12" 
							style="text-align: center;"
						>
							<span class="trackHead">
								{{track.name}}
							</span>
						</div>
					</div>
					<div 
						class="row" 
						style="
							padding-left: 12px;
							padding-top: 6px;
							text-align: left; 
						"
					>
						<div 
							class="col-md-1" 
							ng-repeat="race in track.races"
						>
							<span 
								class="raceHead" 
								ng-click="showTrackRace(track.id, race.number)"
							>
								{{race.number}}
							</span>
							<span 
								class="raceDetailsSmaller"
								style="cursor: pointer;"
								ng-click="closeRace(track.id, race.number)"
								ng-show="customer.admin && !race.score && !race.closed"
							>
								<br/>
								Close Race
							</span>
							<span 
								class="raceDetailsSmaller"
								style="cursor: pointer;"
								ng-click="scoreRace(track.id, race.number)"
								ng-show="customer.admin && !race.score && race.closed"
							>
								<br/>
								Score Race
							</span>
							<span 
								class="raceDetailsSmaller"
								style="cursor: pointer;"
								ng-click="scoreRace(track.id, race.number)"
								ng-show="race.closed && !race.score"
							>
								<br/>
								Closed
							</span>
							<span 
								class="raceDetailsSmaller"
								style="cursor: pointer;"
								ng-click="showResults(track.id, race.number)"
								ng-show="race.closed && race.score"
							>
								<br/>
								Results
							</span>
						</div>
					</div>
					<div 
						class="row" 
						style="
							padding-top: 6px;
							padding-left: 12px;
						"
						ng-repeat="race in track.races" 
						ng-init="trackRaceId = track.id+'-'+race.number"
						ng-show="trId === trackRaceId"
					>
						<div 
							class="col-md-12" 
							style="text-align: left;"
						>
							<div 
								class="row"
								style="padding-top: 6px;"
							>
								<div class="col-md-12">
									<span 
										class="raceInfo"
										ng-show="race.time"
									>
										Post: {{convertPostTime(race.time)}}
									</span>
									<span 
										class="raceInfo"
										ng-show="race.distance"
									>
										| Distance: {{convertDist(race.distance)}}
									</span>
									<span 
										class="raceInfo"
										ng-show="race.surface"
									>
										| Surface: {{race.surface}}
									</span>
									<span 
										class="raceInfo"
										ng-show="race.sexes"
									>
										| {{race.sexes}}
									</span>
									<span 
										class="raceInfo"
										ng-show="race.ages"
									>
										| {{race.ages}}
									</span>
									<span 
										class="raceInfo"
										ng-show="race.type"
									>
										| {{race.type}}
									</span>
									<span 
										class="raceInfo"
										ng-show="race.claim"
									>
										| Claim: ${{race.claim}}
									</span>
									<span 
										class="raceInfo"
										ng-show="race.purse"
									>
										| Purse: ${{race.purse}}
									</span>
								</div>
							</div>
							<br/>
							<div 
								class="row"
								style="padding-top: 6px;"
							>
								<div class="col-md-12">
									<span 
										class="raceDetails"
										style="padding-right: 8px; cursor: pointer;"
										ng-repeat="wager in race.wagers"
										ng-init="wagerAbbrev = getWagerAbbrev(wager.wager)"
										ng-click="showRaceWager(track.id, race.number, wager.wager, wager.min)"
									>
										{{wagerAbbrev}}
									</span>
								</div>
							</div>
							<br/>
							<div 
								class="row"
								style="padding-top: 6px;"
							>
								<div 
									class="col-md-12"
								>
									<div class="row" ng-show="legs > 1">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-1">
													<span class="raceDetails">Leg:</span>
												</div>
												<div 
													class="col-md-1"
													ng-repeat="runners in wagerRunners track by $index"
													ng-init="legNumber = $index + 1"
												>
													<span 
														class="raceDetailsLegHead"
														style="cursor: pointer;"
														ng-click="showLeg(legNumber)"
													>
														{{legNumber}}
													</span>
												</div>
											</div>
											<br/>
											<div class="row">
												<div 
													class="col-md-12" 
												>
													<div class="row">
														<div class="col-md-12">
															<ng-include src="'/templates/entryDataTmpl.html'"></ng-include>
															<ng-include src="'/templates/leg1Tmpl.html'"></ng-include>
															<ng-include src="'/templates/leg2Tmpl.html'"></ng-include>
															<ng-include src="'/templates/leg3Tmpl.html'"></ng-include>
															<ng-include src="'/templates/leg4Tmpl.html'"></ng-include>
															<ng-include src="'/templates/leg5Tmpl.html'"></ng-include>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row" ng-show="legs < 2 && parts > 1">
										<div class="col-md-12">
											<ng-include src="'/templates/multiPartTmpl.html'"></ng-include>
										</div>
									</div>
									<div class="row" ng-show="legs < 2 && parts < 2">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-2">
													<span class="raceDetails">{{singleDesc}}</span>
												</div>
												<div class="col-md-4">
													<span class="raceDetails">Runner</span>
												</div>
												<div class="col-md-3">
													<span class="raceDetails">Jockey</span>
												</div>
												<div class="col-md-3">
													<span class="raceDetails">Trainer</span>
												</div>
											</div>
											<br/>
											<div 
												class="row"
												ng-repeat="(idx, entry) in wagerRunners[0]"
											>
												<div class="col-md-2">
													<input 
														type="checkbox"
														ng-model="selectedRunners[idx]"
														ng-true-value="{{entry.number}}"
														ng-false-value="false"
														ng-change="updateSelectedRunnersDisplay()"
														ng-disabled="!entry.active"
														ng-show="!race.closed"
													>
													<ng-include src="'/templates/entryNumsPostsTmpl.html'"></ng-include>
												</div>
												<ng-include src="'/templates/entriesTmpl.html'"></ng-include>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<br/>
					<br/>
					<div 
						class="row"
						style="padding-left: 12px;"
					>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-2">
									<select 
										name="repeatSelect" 
										id="repeatSelect" 
										ng-model="wagerData.amount"
										ng-change="updateSelectedRunnersDisplay()"
									>
										<option 
											ng-repeat="option in amountOptions.availableOptions" 
											value="{{option}}"
										>
											{{option}}
										</option>
									</select>
								</div>
								<div class="col-md-5">
									<span class="raceDetails" ng-show="wager && wagerData.amount">${{wagerData.amount}} {{wager}}:</span>
									<br/>
									<span class="raceDetails" ng-show="wager">{{formattedRunners}}</span>
								</div>
								<div class="col-md-2">
									<span class="raceDetails" ng-show="ticketCost">Total Cost: ${{ticketCost}}</span>
								</div>
								<div class="col-md-2">
									<button 
										class="btn btn-primary btn-sm" 
										ng-click="submitWager()"
										ng-disabled="race.closed"
									>
										Submit Ticket
									</button>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
				</div>
				<div 
					class="col-md-6" 
					style="
						top: 45px;
						position: relative;
					"
				>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-3">
									<span class="boxHead" ng-click="showHorseCenter()">
										HorseCenter
									</span>
								</div>
								<div class="col-md-3">
									<span class="boxHead" ng-click="showLeaderboards()">
										Leaderboards
									</span>
								</div>
								<div class="col-md-3">
									<span class="boxHead" ng-click="showTournaments()">
										Tournaments
									</span>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<div class="row">
						<div 
							class="col-md-12"
							ng-show="horseCenterShow && !leaderboardsShow && !tournamentsShow"
						>
							<iframe 
								src="http://player.twitch.tv/?channel=zombiunicorn" 
								height="324" 
								width="576" 
								frameborder="0" 
								scrolling="no"
								allowfullscreen="true">
							</iframe>
						</div>
						<div 
							class="col-md-12"
							ng-show="leaderboardsShow && !horseCenterShow && !tournamentsShow"
						>
							<div class="row">
								<span class="leaderboardHead">Leaderboards</span>
							</div>
						</div>
						<div 
							class="col-md-12"
							ng-show="tournamentsShow && !leaderboardsShow && !horseCenterShow"
						>
							<div class="row">
								<span class="leaderboardHead">Tournaments</span>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-12">
									<div class="row" ng-repeat="tournament in tournamentsData">
										<div class="col-md-3">
											<span class="tournamentDetails">{{tournament.name}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-3">
									<span 
										class="boxHead" 
										ng-click="showHistory()"
									>
										Ticket History
									</span>
								</div>
								<div class="col-md-4">
									<span 
										class="boxHead" 
										ng-click="showConfirmation()"
									>
										Ticket Confirmation
									</span>
								</div>
							</div>
							<div 
								class="row"
								style="border: 1px solid white;"
								ng-show="tabShow === 'wagerResponse'"
							>
								<div class="col-md-12" ng-show="wagerError">
									<br/>
									<span class="raceDetailsRed">Ticket Error</span>
									<br/><br/>
									<span class="raceDetailsSmaller">{{wagerError}}</span>
								</div>
								<div class="col-md-12" ng-show="successfulWager">
									<br/>
									<span class="raceDetails">Ticket Placed</span>
									<br/><br/>
									<span class="raceDetailsSmaller">Type: {{successfulWager.wagerPool}}</span>
									<br/>
									<span class="raceDetailsSmaller">Amount: {{successfulWager.wagerAmount}}</span>
									<br/>
									<span class="raceDetailsSmaller">Runners: {{successfulWager.wagerSelections}}</span>
									<br/>
									<span class="raceDetailsSmaller">Total: {{successfulWager.wagerTotal}}</span>
									<br/>
									<span 
										class="raceDetailsSmaller" 
										style="cursor: pointer;"
										ng-click="cancelWager(successfulWager.id)"
										ng-show="!successfulWager.cancelled"
									>
										Cancel
									</span>
									<span 
										class="raceDetailsSmallerRed" 
										ng-show="successfulWager.cancelled"
									>
										Cancelled
									</span>
									<br/>
								</div>
							</div>
							<div class="row" ng-show="tabShow === 'wagerHistory'">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-2">
											<span class="historyDetailsHead">
												Race
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetailsHead">
												Amount
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetailsHead">
												Type
											</span>
										</div>
										<div class="col-md-3">
											<span class="historyDetailsHead">
												Selection
											</span>
										</div>
										<div class="col-md-1">
											<span class="historyDetailsHead">
												Total
											</span>
										</div>
										<div 
											class="col-md-1"
											style="text-align: right;"
										>
											<span class="historyDetailsHead">
												Result
											</span>
										</div>
									</div>
									<div class="row" ng-repeat="wager in wagerHistory">
										<div class="col-md-2">
											<span class="historyDetails">
												{{wager.race}}
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetails">
												{{wager.amount}}
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetails">
												{{wager.type}}
											</span>
										</div>
										<div class="col-md-3">
											<span class="historyDetails">
												{{wager.selection}}
											</span>
										</div>
										<div class="col-md-1">
											<span class="historyDetails">
												{{wager.total}}
											</span>
										</div>
										<div 
											class="col-md-1"
											style="text-align: right;"
											ng-show="wager.result !== 'Pending'"
										>
											<span class="historyDetails">
												{{wager.result}}
											</span>
										</div>
										<div 
											class="col-md-1"
											style="text-align: right; cursor: pointer;"
											ng-show="wager.result === 'Pending'"
											ng-click="cancelWager(wager.id)"
										>
											<span class="historyDetails">
												Cancel
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-show="tabShow === 'liveWagers'">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-2">
											<span class="historyDetailsHead">
												Date
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetailsHead">
												Track
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetailsHead">
												Race
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetailsHead">
												Amount
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetailsHead">
												Type
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetailsHead">
												Selection
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetailsHead">
												Total
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetailsHead">
												Result
											</span>
										</div>
									</div>
									<div class="row" ng-repeat="wager in wagerHistory">
										<div class="col-md-2">
											<span class="historyDetails">
												{{wager.createdAt}}
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetails">
												{{wager.track}}
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetails">
												{{wager.trackRaceId}}
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetails">
												{{wager.wagerAmount}}
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetails">
												{{wager.wagerPool}}
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetails">
												{{wager.wagerSelections}}
											</span>
										</div>
										<div class="col-md-2">
											<span class="historyDetails">
												{{wager.wagerTotal}}
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-12 col-xs-12" ng-show="!bigScreen">
	<div class="row" id="homeMain">
		<div 
			class="contentGreyBgSm"
		>
		</div>
	</div>
</div>
