
<div class="hr_wide">
	<div id="tt-menu">
		<div 
			id="menuDisplay" 
			class="menuDisplay"
		>
			<span 
				class="footerLinkRed"
			>
				Today's Tournaments: 
			</span>
			<span 
				class="footerLink reservationYellow" 
				ng-click="setActiveTournament(tournament)" 
				ng-repeat="tournament in currentTournaments" track by $index
			>
				{{tournament.name}} <span class="footerLinkSmaller reservationYellow">{{tournament.mtp}}</span>
			</span>
			<span 
				class="footerLink reservationYellow pull-right" 
				ng-show="showSignup"
				ng-click="signUp()"
			>
				Sign Up
			</span>
			<span 
				class="footerLink pull-right"
				ng-show="!showLogout"
			>
				/
			</span>
			<span 
				class="footerLink reservationYellow pull-right" 
				ng-show="showLogin"
				ng-click="logIn()"
			>
				Log In
			</span>
			<span 
				class="footerLink reservationYellow pull-right" 
				ng-show="showLogout"
				ng-click="logOut()"
			>
				Log Out
			</span>
			<span 
				class="footerLink reservationYellow pull-right" 
				ng-show="customer" 
				ng-click="account()"
			>
				Hi, {{customer.fName}}!
			</span>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row" id="homeMain">
			<div 
				class="contentGreyBg"
				style="top: 8px;"
			>
			</div>
		</div>
	</div>
</div>
