															<div 
																class="row"
																ng-show="legShow == 1"
																ng-repeat="(idx, entry) in wagerRunners[0]"
															>
																<div class="col-md-1">
																	<input 
																		type="checkbox"
																		ng-model="leg1Runners[idx]"
																		ng-true-value="{{entry.number}}"
																		ng-false-value=0
																		ng-change="updateSelectedRunnersDisplay()"
																		ng-disabled="!entry.active"
																	>
																	<label 
																		class="raceDetails"
																		style="top: -2px; position: relative;"
																		ng-show="entry.post && (entry.post !== entry.number)"
																	>
																		{{entry.number}} (Post: {{entry.post}})
																	</label>
																	<label 
																		class="raceDetails"
																		style="top: -2px; position: relative;"
																		ng-show="!entry.post || (entry.post === entry.number)"
																	>
																		{{entry.number}}
																	</label>
																</div>
																<ng-include src="'/templates/entriesTmpl.html'"></ng-include>
															</div>
