											<div 
												class="row"
												ng-show="wager === 'Exacta'"
											>
												<div class="col-md-1">
													<span class="raceDetails">1st</span>
												</div>
												<div class="col-md-1">
													<span class="raceDetails">2nd</span>
												</div>
												<div class="col-md-3">
													<span class="raceDetails">Runner</span>
												</div>
												<div class="col-md-3">
													<span class="raceDetails">Jockey</span>
												</div>
												<div class="col-md-2">
													<span class="raceDetails">Trainer</span>
												</div>
											</div>
											<div 
												class="row"
												ng-show="wager === 'Trifecta'"
											>
												<div class="col-md-1">
													<span class="raceDetails">1st</span>
												</div>
												<div class="col-md-1">
													<span class="raceDetails">2nd</span>
												</div>
												<div class="col-md-1">
													<span class="raceDetails">3rd</span>
												</div>
												<div class="col-md-3">
													<span class="raceDetails">Runner</span>
												</div>
												<div class="col-md-3">
													<span class="raceDetails">Jockey</span>
												</div>
												<div class="col-md-2">
													<span class="raceDetails">Trainer</span>
												</div>
											</div>
											<div 
												class="row"
												ng-show="wager === 'Superfecta'"
											>
												<div class="col-md-1">
													<span class="raceDetails">1st</span>
												</div>
												<div class="col-md-1">
													<span class="raceDetails">2nd</span>
												</div>
												<div class="col-md-1">
													<span class="raceDetails">3rd</span>
												</div>
												<div class="col-md-1">
													<span class="raceDetails">4th</span>
												</div>
												<div class="col-md-3">
													<span class="raceDetails">Runner</span>
												</div>
												<div class="col-md-3">
													<span class="raceDetails">Jockey</span>
												</div>
												<div class="col-md-2">
													<span class="raceDetails">Trainer</span>
												</div>
											</div>
											<div 
												class="row"
												ng-show="wager === 'Pentafecta'"
											>
												<div class="col-md-1">
													<span class="raceDetails">1st</span>
												</div>
												<div class="col-md-1">
													<span class="raceDetails">2nd</span>
												</div>
												<div class="col-md-1">
													<span class="raceDetails">3rd</span>
												</div>
												<div class="col-md-1">
													<span class="raceDetails">4th</span>
												</div>
												<div class="col-md-1">
													<span class="raceDetails">5th</span>
												</div>
												<div class="col-md-3">
													<span class="raceDetails">Runner</span>
												</div>
												<div class="col-md-3">
													<span class="raceDetails">Jockey</span>
												</div>
												<div class="col-md-2">
													<span class="raceDetails">Trainer</span>
												</div>
											</div>
											<div 
												class="row"
												ng-repeat="(idx, entry) in wagerRunners[0]"
											>
												<div 
													class="col-md-1" 
												>
													<input 
														type="checkbox"
														ng-model="firstRunners[idx]"
														ng-true-value="{{entry.number}}"
														ng-false-value="false"
														ng-change="updateSelectedRunnersDisplay()"
														ng-disabled="!entry.active"
													>
													<label 
														class="raceDetails"
														style="top: -2px; position: relative;"
														ng-show="entry.post && (entry.post !== entry.number)"
													>
														{{entry.number}} (Post: {{entry.post}})
													</label>
													<label 
														class="raceDetails"
														style="top: -2px; position: relative;"
														ng-show="!entry.post || (entry.post === entry.number)"
													>
														{{entry.number}}
													</label>
												</div>
												<div 
													class="col-md-1"
												>
													<input 
														type="checkbox"
														ng-model="secondRunners[idx]"
														ng-true-value="{{entry.number}}"
														ng-false-value="false"
														ng-change="updateSelectedRunnersDisplay()"
														ng-disabled="!entry.active"
													>
													<label 
														class="raceDetails"
														style="top: -2px; position: relative;"
														ng-show="entry.post && (entry.post !== entry.number)"
													>
														{{entry.number}} (Post: {{entry.post}})
													</label>
													<label 
														class="raceDetails"
														style="top: -2px; position: relative;"
														ng-show="!entry.post || (entry.post === entry.number)"
													>
														{{entry.number}}
													</label>
												</div>
												<div 
													class="col-md-1"
													ng-show="wager === 'Trifecta' || wager === 'Superfecta' || wager === 'Pentafecta'"
												>
													<input 
														type="checkbox"
														ng-model="thirdRunners[idx]"
														ng-true-value="{{entry.number}}"
														ng-false-value="false"
														ng-change="updateSelectedRunnersDisplay()"
														ng-disabled="!entry.active"
													>
													<label 
														class="raceDetails"
														style="top: -2px; position: relative;"
														ng-show="entry.post && (entry.post !== entry.number)"
													>
														{{entry.number}} (Post: {{entry.post}})
													</label>
													<label 
														class="raceDetails"
														style="top: -2px; position: relative;"
														ng-show="!entry.post || (entry.post === entry.number)"
													>
														{{entry.number}}
													</label>
												</div>
												<div 
													class="col-md-1"
													ng-show="wager === 'Superfecta' || wager === 'Pentafecta'"
												>
													<input 
														type="checkbox"
														ng-model="fourthRunners[idx]"
														ng-true-value="{{entry.number}}"
														ng-false-value="false"
														ng-change="updateSelectedRunnersDisplay()"
														ng-disabled="!entry.active"
													>
													<label 
														class="raceDetails"
														style="top: -2px; position: relative;"
														ng-show="entry.post && (entry.post !== entry.number)"
													>
														{{entry.number}} (Post: {{entry.post}})
													</label>
													<label 
														class="raceDetails"
														style="top: -2px; position: relative;"
														ng-show="!entry.post || (entry.post === entry.number)"
													>
														{{entry.number}}
													</label>
												</div>
												<div 
													class="col-md-1"
													ng-show="wager === 'Pentafecta'"
												>
													<input 
														type="checkbox"
														ng-model="fifthRunners[idx]"
														ng-true-value="{{entry.number}}"
														ng-false-value="false"
														ng-change="updateSelectedRunnersDisplay()"
														ng-disabled="!entry.active"
													>
													<label 
														class="raceDetails"
														style="top: -2px; position: relative;"
														ng-show="entry.post && (entry.post !== entry.number)"
													>
														{{entry.number}} (Post: {{entry.post}})
													</label>
													<label 
														class="raceDetails"
														style="top: -2px; position: relative;"
														ng-show="!entry.post || (entry.post === entry.number)"
													>
														{{entry.number}}
													</label>
												</div>
												<ng-include src="'/templates/entriesTmpl.html'"></ng-include>
											</div>
